html, body {
    height: 100%;
}

body {
    background: #fff;
}

.app-primary-bg {
    background-color: #00E676 !important;
}

.app-primary-fg {
    color: #00E676 !important;
}

.app-primary-border {
    border-color: #00E676 !important;
}

.carousel-header {
    background-image: url("../img/wave.png");
    background-position: center bottom -1px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.page-header {
    background-image: url("../img/wave-header.png");
    background-position: center bottom -1px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.page-footer {
    background-image: url("../img/wave-footer.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 102% auto;
}

.carousel-item-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.features > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.feature-icon {
    width: 64px;
    height: 64px;
}

.users-say {
    min-height: 240px;
}

.zoom img {
    transition: ease .25s;
}

.zoom img:hover {
    transform: scale(1.5) rotate(-10deg);
    transition: ease .25s;
}

.doc-item {
    text-decoration: none!important;
}

.btn {
    border-radius: 20px;
}